<md-content flex id="content" ng-controller='songsController as songs'>

  <section layout="column" flex="60" flex-offset="20">
  <h2 class="md-display-3">Add Song</h2>
  <md-divider></md-divider>

    <form id="register" name="users.registerForm" ng-submit="songs.addSong()" class="md-whiteframe-15dp" novalidate>

    <md-input-container class="md-icon-float md-block">   
      <input type="text" placeholder="Song title" ng-model="newSong.title">
     
    </md-input-container>

    <md-input-container class="md-icon-float md-block"> 

    </md-input-container>
    <div class="singers">
      <img src="img/soprano.png" id="choiceSoprano" ng-click="songs.addChannel('soprano')">
      
      <img src="img/alto.png" id="choiceAlto" ng-click="songs.addChannel('alto')">
      
      <img src="img/baritone.png" id="choiceBaritone" ng-click="songs.addChannel('baritone')">
    </div>  

    

    <md-button type="submit" class="md-raised">Submit</md-button>

    </form>
  </section>
</md-content>