
<section class="md-whiteframe-10dp"  layout="column" flex="80" flex-offset="10" ng-controller='playController as play'>

  <div class="singers">
    <img src="img/soprano.png">
    
    <img src="img/alto.png">
    
    <img src="img/baritone.png">
  </div>  
  <nav>
    <span>
      <rzslider class="fader" rz-slider-model="ch1.value" rz-slider-options="ch1.options"></rzslider>
      <rzslider class="fader" rz-slider-model="ch2.value" rz-slider-options="ch1.options"></rzslider>
      <rzslider class="fader" rz-slider-model="ch3.value" rz-slider-options="ch1.options"></rzslider>
    </span>
  </nav>

  <span>
    <a href="#" data-ng-click="play.recSound()"><i class="material-icons">fiber_manual_record</i></a>
    <a href="#" data-ng-click="play.playSound()"><i class="material-icons">play_arrow</i></a>
    <a href="#" data-ng-click="play.stopSound()"><i class="material-icons">stop</i></a>  
  </span>

  <ng-audio-recorder id="mainAudio" audio-model="recorded" onsort="saveFile()" show-player="false">

    <div id="wave" ng-show="recorder.isHtml5 && recorder.status.isRecording">
      <ng-audio-recorder-analyzer></ng-audio-recorder-analyzer>
    </div>
    <div ng-if="recorder.isAvailable">

      <div ng-if="recorder.status.isDenied === true" style="color: red;">
        You need to grant permission for this application to USE your microphone.
      </div>
      <!--     <button ng-click="recorder.startRecord()" type="button"
                  ng-disabled="recorder.status.isDenied === true || recorder.status.isRecording">
              Start
            </button> -->
            <a ng-click="recorder.saveFile()">Save</a>
   <!--        <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
              Stop
            </button> -->
<!-- 
          <button ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                  type="button" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
              {{recorder.status.isStopped || recorder.status.isPaused ? 'Play' : 'Pause'}}
          </button>
        -->
        <a ng-click="recorder.save()" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
          Download
        </a>

        <div style="max-width: 600px">
          <div ng-show="recorder.status.isConverting">
            Please wait while your recording is processed.
          </div>

          <br/>

        </div>

      </div>


      <div ng-if="!recorder.isAvailable">
        Your browser does not support this feature natively, please use latest version of <a
        href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a
        href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on
        Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to
        use this feature.
      </div>

    </ng-audio-recorder>

    <ul>
      <li ng-repeat="clip in play.songs">Yo</li>
    </ul>

    <img id='sheet' src={{play.sheetsource}}>








    <div class="track-label">

      <!-- <md-button class="md-primary dropdown" ng-Mouseenter="soprano=!soprano" ng-Mouseleave="soprano=!soprano" ng-class="{active:soprano}">
        Soprano
        <ul class="dropdown-menu md-whiteframe-z1">
          <li><md-button ng-click="play.select('soprano', 'clip1')">One</md-button></li>
          <li><md-button ng-click="play.select('soprano', 'clip2')">Two</md-button></li>
        </ul>
      </md-button>

      <md-button class="md-primary dropdown" ng-Mouseenter="alto=!alto" ng-Mouseleave="alto=!alto" ng-class="{active:alto}">
        Alto
        <ul class="dropdown-menu md-whiteframe-z1">
          <li><md-button ng-click="play.select('alto', 'clip3')">One</md-button></li>
          <li><md-button ng-click="play.select('alto', 'clip4')">Two</md-button></li>
        </ul>
      </md-button>

      <md-button class="md-primary dropdown" ng-Mouseenter="tenor=!tenor" ng-Mouseleave="tenor=!tenor" ng-class="{active:tenor}">
        Baritone
        <ul class="dropdown-menu md-whiteframe-z1">
          <li><md-button ng-click="play.select('tenor', 'clip7')">One</md-button></li>
          <li><md-button ng-click="play.select('tenor', 'clip8')">Two</md-button></li>
        </ul>
      </md-button> -->

    </div>

    <audio myaudio id="clip1" class="stem soprano" src="music/soualle_soprano.mp3" preload="none" autobuffer></audio> 
    <audio  id="clip2" class="stem soprano" src="music/soualle_alto.mp3"  preload="none" autobuffer></audio> 
    <audio id="clip3" class="stem baritone" src="music/soualle_baritone.mp3"  preload="none" autobuffer></audio> 


  </section>

