
<section layout="column" flex="80" flex-offset="10" ng-controller='playController as play'>
  <h2 class="md-display-3">Play2</h2>

  <div>currentTime: {{timeElapsed}}</div>
  <h3>{{play.verticalSlider1.value}}</h3>

  <img id='sheet' src={{play.sheetsource}}>

  <span>
    <a href="#" data-ng-click="play.playSound()"><md-icon md-svg-icon="{{play.playicon}}"></md-icon></a>
    <a href="#" data-ng-click="play.stopSound()"><md-icon md-svg-icon="av:stop"></a>
  </span>

  <div class="mixer">

   <rzslider class="fader" rz-slider-model="play.ch1.value" rz-slider-options="play.ch1.options" ng-click="play.change()"></rzslider>

   <rzslider class="fader" rz-slider-model="play.ch2.value" rz-slider-options="play.ch1.options" ng-click="play.change()"></rzslider>

   <rzslider class="fader" rz-slider-model="play.ch3.value" rz-slider-options="play.ch1.options" ng-click="play.change()"></rzslider>


 </div>

<div class="track-label">

<md-button class="md-primary dropdown" ng-Mouseenter="soprano=!soprano" ng-Mouseleave="soprano=!soprano" ng-class="{active:soprano}">
  Soprano
  <ul class="dropdown-menu md-whiteframe-z1">
    <li><md-button ng-click="play.select('soprano', 'clip1')">One</md-button></li>
    <li><md-button ng-click="play.select('soprano', 'clip2')">Two</md-button></li>
  </ul>
</md-button>

<md-button class="md-primary dropdown" ng-Mouseenter="alto=!alto" ng-Mouseleave="alto=!alto" ng-class="{active:alto}">
  Alto
  <ul class="dropdown-menu md-whiteframe-z1">
    <li><md-button ng-click="play.select('alto', 'clip3')">One</md-button></li>
    <li><md-button ng-click="play.select('alto', 'clip4')">Two</md-button></li>
  </ul>
</md-button>

<md-button class="md-primary dropdown" ng-Mouseenter="tenor=!tenor" ng-Mouseleave="tenor=!tenor" ng-class="{active:tenor}">
  Baritone
  <ul class="dropdown-menu md-whiteframe-z1">
    <li><md-button ng-click="play.select('tenor', 'clip7')">One</md-button></li>
    <li><md-button ng-click="play.select('tenor', 'clip8')">Two</md-button></li>
  </ul>
</md-button>


</div>




 <audio controls myaudio id="clip1" class="stem soprano" src="music/soualle_soprano.mp3" preload="none" autobuffer></audio> 
 <audio controls  id="clip2" class="stem soprano" src="music/soualle_alto.mp3"  preload="none" autobuffer></audio> 

 <audio controls id="clip3" class="stem baritone" src="music/soualle_baritone.mp3"  preload="none" autobuffer></audio> 


 <div class=selector>
  <span>




  </span>
</div>
<div id="pdf-container"></div>
</section>