
<section class="md-whiteframe-10dp"  layout="column" flex="80" flex-offset="10" ng-controller='playController as play'>


  <div class="singers">
  <div class="singer">
    <img src="img/soprano.png"> 
  </div>
  <div class="singer">
    <img src="img/alto.png">
   </div>
   <div class="singer"> 
    <img src="img/baritone.png">
    </div>

  </div> 
    <div class="singers"> 
    <div class="singer">
    <i class="material-icons">arrow_backward</i>
    <i class="material-icons">arrow_forward</i>


    </div>
    <div class="singer">
    <i class="material-icons">arrow_backward</i>
    <i class="material-icons">arrow_forward</i>

    </div>
    <div class="singer">
    <i class="material-icons">arrow_backward</i>
    <i class="material-icons">arrow_forward</i>

    </div>
  </div>
  <div class="singers"> 
  <div class="singer">
      <rzslider class="fader" rz-slider-model="ch1.value" rz-slider-options="ch1.options"></rzslider>
  </div>
  <div class="singer">
      <rzslider class="fader" rz-slider-model="ch2.value" rz-slider-options="ch1.options"></rzslider>
  </div>
  <div class="singer">
      <rzslider class="fader" rz-slider-model="ch3.value" rz-slider-options="ch1.options"></rzslider>
  </div>
</div>

  <span>
    <a href="#" data-ng-click="play.recSound()"><i class="material-icons">fiber_manual_record</i></a>
    <a href="#" data-ng-click="play.playSound()"><i class="material-icons">play_arrow</i></a>
    <a href="#" data-ng-click="play.stopSound()"><i class="material-icons">stop</i></a>  
  </span>

  <ng-audio-recorder id="mainAudio" audio-model="recorded" onsort="saveFile()" show-player="false">

    <div id="wave" ng-show="recorder.isHtml5 && recorder.status.isRecording">
      <ng-audio-recorder-analyzer></ng-audio-recorder-analyzer>
    </div>
    <div ng-if="recorder.isAvailable">

      <div ng-if="recorder.status.isDenied === true" style="color: red;">
        You need to grant permission for this application to USE your microphone.
      </div>
      <!--     <button ng-click="recorder.startRecord()" type="button"
                  ng-disabled="recorder.status.isDenied === true || recorder.status.isRecording">
              Start
            </button> -->
            <a ng-click="recorder.saveFile()">Save</a>
   <!--        <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
              Stop
            </button> -->
<!-- 
          <button ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                  type="button" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
              {{recorder.status.isStopped || recorder.status.isPaused ? 'Play' : 'Pause'}}
          </button>
        -->
        <a ng-click="recorder.save()" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
          Download
        </a>

        <div style="max-width: 600px">
          <div ng-show="recorder.status.isConverting">
            Please wait while your recording is processed.
          </div>

          <br/>

        </div>

      </div>


      <div ng-if="!recorder.isAvailable">
        Your browser does not support this feature natively, please use latest version of <a
        href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a
        href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on
        Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to
        use this feature.
      </div>

    </ng-audio-recorder>



    <img id='sheet' src={{play.sheetsource}}>





    <audio myaudio id="clip1" class="stem soprano" src="music/soualle_soprano.mp3" preload="none" autobuffer></audio> 
    <audio  id="clip2" class="stem soprano" src="music/soualle_alto.mp3"  preload="none" autobuffer></audio> 
    <audio id="clip3" class="stem baritone" src="music/soualle_baritone.mp3"  preload="none" autobuffer></audio> 


  </section>

