html {
  font-family: 'Source Sans Pro', sans-serif;

}

form {
margin: 30px 0;
padding: 10px;
}

h2 {
  margin: 20px;
  font-weight: 600;
}

button {
  width: 150px;
}

.display {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.md-button.dropdown {
  overflow: visible; /*reset*/
  width: 100px;
  display: inline-block;
}

.dropdown .dropdown-menu {
  max-width: 0;
  position: absolute;
  left: 40px;
  top: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  list-style: none;
  transition: min-width 0.2s ease-in-out, left 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.dropdown .dropdown-menu .md-button {
  min-width: 100%;
  border-radius: 0;
  margin: 0;
  padding: 6px 16px;
}

.dropdown.active .dropdown-menu {
  max-width: 200px; /* set a maxwidth bigger than the widest element */
  left: 0;
  opacity: 1;
}

audio {
  width: 250px;
}


#pdf-container {
  height: 80vh;
}

.selector {
  height: 250px;
}

.mixer{
    height: 280px;
    background-color: black;
}

.mixer > .fader {
  height: 240px;
  margin: 30px 30px;

}

.songcard {
  background-color: #FFFFA5;
  display: inline-block;
  margin: 30px;
  height: 150px; }

/*UPLOAD*/

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

