<div class='wrapper' flex-offset="20" flex="60" ng-controller="usersController as users" class="md-whiteframe-15dp display">


  <h2 class="md-display-3">Welcome!</h2>
  <md-divider></md-divider>
  <br>
  <br>
  <br>
  <br>
  <h3 style="color:blue" class="md-display-2">Daddy sang bass</h3>
  <br>
  <h3 style="color:orange" class="md-display-2">Mama sang tenor</h3>
  <br>
  <h3 style="color:grey" class="md-display-1">Me and my little brothers joined them right in there</h3>
  <br>
  <br>
  <br>

  <p class="home-links" href="#" ui-sref="login">Log in</p>
  <p class="home-links" href="#" ui-sref="register">Register</p> 

</div>

